@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  background-color: #ccc;
}

.accordion:after {
  content: '\25BC';
  /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\25B2";
  /* Unicode character for "minus" sign (-) */
}